body {
    margin: 0;
    padding: 0;
    color: rgb(166, 166, 166);
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: black; 
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 4px black;
}

.text {
    font-size: 20px;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
    background-color: rgb(64, 64, 64);
}

.container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module p {
    margin-bottom: 40px;
}

section.module:last-child {
    margin-bottom: 0;
}

section.module h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content {
    padding: 40px 0;
    background: rgb(166, 166, 166);
}

section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section.module.parallax:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #0000 100%);
}

section.module.parallax-1 {
    background-image: url("https://hermes.dio.me/articles/cover/2148fc8d-3b5f-44e2-9cdc-9e7b5fc43ef7.png");
}

section.module.parallax-2 {
    background-image: url("https://images.dwncdn.net/images/t_app-cover-s,f_auto/p/95734833-6d75-4021-b7da-8e948742b38c/2651038933/18509_4-75449545-foreman118976923357diass2.png");
}

section.module.parallax-3 {
    background-image: url("https://s2-g1.glbimg.com/9sM-21igiHKewyQP0xg7WHimp9U=/0x0:1280x853/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2020/v/P/IzhNCcTZCAl1HIAj1Ffw/homework-2521144-1280.jpg");
}

section.module.parallax-4 {
    background-image: url("https://s2-g1.glbimg.com/9sM-21igiHKewyQP0xg7WHimp9U=/0x0:1280x853/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2020/v/P/IzhNCcTZCAl1HIAj1Ffw/homework-2521144-1280.jpg");
}

section.module.parallax h1 {
    color: #FFF;
    text-align: center;
    font-size: 70px;
    z-index: 50;
    text-transform: uppercase;
}

.area-1, .area-2, .area-3 {
    visibility: hidden;
}

nav {
    margin: 20px 40px;
    position: relative;
    background-color: #000000;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    margin-top: 8px;
    font-size: 16.9px;
    background-color: #000000;
    color: white;
    border: #000000 solid;
    border-radius: 50px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

input:hover {
    color: black;
    background-color: white;
    transition: 0.5s;
}

footer {
    text-align: center;
}


@media (max-width: 767px) {
    section.module.parallax h1 {
        font-size: 40px; 
    }

    .container {
        padding: 0 10px; 
    }

    section.module h2 {
        font-size: 24px;
    }

    nav {
        flex-direction: column; 
        margin: 10px; 
    }

    input {
        width: 100%; 
        margin-top: 10px; 
    }
}

@media (max-width: 480px) {
    nav {
        margin: 0; 
    }

    section.module h2 {
        font-size: 20px; 
    }
}
